custom_README.txt
__pycache__
lineDetection/data/ignored scripts/
lineDetection/README_original.md
lineDetection/data/agroNav_LineDetection/
lineDetection/data/training/
lineDetection/result/agroNav_LineDetection/
lineDetection/checkpoint/
segmentation/data/agronav/train/images/
segmentation/data/agronav/train/labels/
segmentation/checkpoint/
segmentation/output/
.idea/
inference/output/
inference/output_centerline/
inference/temp/